:root {
  --col: calc(100vw / 8);
  --white: #fff;
  --black: #000;
  --gold: #84754E;
}

.productView {
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.productView__return {
  position: absolute;
  left: 80px;
  top: 20px;
  z-index: 1000;
}

.productView__return svg {
  width: 40px;
}

.productView__image {
  flex-grow: 1;
  position: relative;
  background-size: cover;
}

.productView__details {
  position: absolute;
  top: 360px;
  left: 80px;
}

.productView__details h2, .productView__mobileDesc h2 {
  font-size: 3.842em;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
  line-height: .9;
}

.productView__details p, .productView__mobileDesc p {
  /* max-width: 360px; */
  margin-bottom: 80px;
  font-size: 1em;
  letter-spacing: 1px;
  color: #7F7E7E;
}

.productView__select {
  width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 40px; */
  background: black;
  /* color: #868585; */
}

.productView__select > div {
  padding: 0 40px;
}

.productView__select > div:last-of-type {
  border-bottom: none;
}

.productView__select label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.productView__select input {
  width: 100%;
}

.productView__select button {
  background-color: var(--gold);
  border: none;
  padding: 20px 35px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: .714em;
  letter-spacing: 2px;
  position: relative;
  transition: all .2s ease-out;
  transform: scale(1) translateY(0);
  width: 100%;
  overflow: hidden;
}

.productView__select button::after {
  content: 'Added To Cart';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: all .3s ease-in-out;
  background-color: white;
  color: var(--gold);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productView__select button:hover {
  background: black;
  color: var(--gold);
}

.productView__select button.animateBtn {
  transform: translateY(-2);
  transform: scale(1.05);
}

.productView__select button.animateBtn::after {
  transform: translateY(0%);
}

.productView__mobileDesc {
  /* font-size: 1.4em; */
  margin-bottom: 20px;
}

.productView__mobileDesc > span {
  font-weight: 600;
  position: relative;
  letter-spacing: 2.5px;
  color: #464646;
}

/* variant sel ----------------------------------------- */

.Product__option {
  width: 100%;
  padding: 10px;
}


/* product images --------------------------------------- */
.productImageControls {
  position: absolute;
  right: 80px;
  bottom: 0;
  background: var(--gold);
}

.productImageControls svg {
  width: 1rem;
}

.productImageControls button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 15px 35px;
  line-height: .8;
  transition: all .2s ease-in-out;
}

.productImageControls button:last-of-type {
  border-left: 1px solid #68572D;
}

.productImageControls button:hover {
  color: var(--gold);
  background: #000;
}

.productView__imageSelect {
  position: absolute;
  left: 80px;
  bottom: 20px;
  z-index: 1000;
}

.productView__imageSelect button {
  background: #000;
  margin: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.rotateLink {
  display: inline;
  margin-left: 40px;
  position: relative;
  top: 5px;
}

.rotateLink a {
  letter-spacing: 1px;
  color: #000;
}



@media screen and (max-width: 1366px) {
  .productView__select {
    width: 380px;
  }
  .productImageControls {
    right: 60px;
  }
  .productView__details {
    left: 60px;
  }
  .productView__return {
    left: 60px;
  }
  .productView__details p {
    max-width: 320px;
  }
}

@media screen and (max-width: 1050px) {
  .productView__select {
    width: 300px;
  }
  .productView__image {
    background-position: center;
  }
  .productView__mobileDesc p {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 800px) {
  .productView {
    flex-direction: column-reverse;
    max-height: none;
    align-items: center;
  }
  .productView__image {
    height: 62vh;
    margin: 140px 0 0 0;
    position: initial;
    display: flex;
    order: 3;
    width: 100vw;
  }
  .productImageControls {
    position: initial;
    order: 2;
    align-self: flex-end;
    width: 100%;
    margin-right: 60px;
  }
  .productImageControls button {
    width: 50%;
  }
  .productView__imageSelect {
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .productView__select {
    width: 100%;
    height: auto;
    padding-right: 60px;
    order: 1;
  }
  .productView__select > div {
    padding: 60px 30px;
  }
  .productView__select > div:last-of-type {
    padding: 0;
  }
  .productView__details span::before {
    bottom: -10px;
  }
  .productView__return {
    left: 30px;
    top: 160px;
  }
  .productView__mobileDesc {
    display: initial;
  }
  .rotateLink {
    margin-left: 10px;
    top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .productView__select {
    padding: 0;
  }
  .productView__return {
    left: 10px;
    top: 80px;
  }
  .productView__details p, .productView__details h2 {
    margin-bottom: 20px;
  }
  .productImageControls {
    margin-right: 0;
  }
}

@media screen and (max-width: 450px) {
  /* 2.744em */
  .productView__details {
    width: 100%;
  }
  .productView__details h2, .productView__mobileDesc h2 {
    font-size: 2.744em;
  }
}