:root {
  --col: calc(100vw / 8);
}



/* catalog header ----------------------------------------------------------------------------- */

#catalogHeader {
  padding: 80px var(--col) 120px var(--col);
  background-color: #fafafa;
}

#catalogHeader > div {
  position: relative;
}

#catalogHeader h1 {
  position: absolute;
  right: 0;
  bottom: -.4em;
  font-size: 10.541em;
  font-weight: 900;
  letter-spacing: -7.5px;
  margin: 0;
  color: #0D0D0D;
  text-transform: uppercase
}

#catalogHeader img {
  margin: 0;
  position: relative;
  display: block;
  filter: grayscale(62%);
}

.catalogHeader__imgWrap {
  display: inline-block;
  position: relative;
}

.catalogHeader__imgWrap::before {
  content: '';
  background-color: #F2CD5E;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 0;
  width: 100%;
  height: 100%;
}



/* catalog main ------------------------------------------------------------------------------- */

#catalogMain {
  padding: 0px var(--col) 80px var(--col);
  display: flex;
}

.catalogCategory {
  padding: 60px var(--col) 20px var(--col);
}

.catalogCategory a {
  color: #0D0D0D66;
}

.catalogCategory h2 {
  margin-bottom: 0px;
  padding-bottom: 10px;
  /* border-bottom: 4px solid rgba(13, 13, 13, 0.205); */
  font-size: 1em;
  /* font-weight: 900; */
  /* letter-spacing: -2px;  */
  color: #0D0D0D66; 
  /* color: #F2CD5E; */
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .5px;
  /* font-size: .714em; */
}

.catalogCategory h2 > div {
  padding-top: 20px;
}

.filter {
  margin-top: 20px;
  padding: 40px;
  background-color: #0D0D0D;
  color: whitesmoke;
  min-width: 280px;
}

.filter > label {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F2CD5E;
  display: block;
}

.filter li {
  list-style: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.filter > ul {
  margin-left: 0px;
  
}

.filter__expands {
  overflow: hidden;
}

.filter__expands li {
  margin: 0;
  height: 30px;
  display: flex;
  align-items: center;
}

.filter__expands span {
  float: right;
}

.filter__expands > ul {
  margin-left: 20px;
  margin-top: 10px;
}

.Product-wrapper {
  flex-grow: 1;
}

.Product-loading {
  text-align: center;
  padding-top: 80px;
}

.Product-loading img {
  width: 5rem;
  margin: 0;
}


@media screen and (max-width: 1000px) {
  .filter {
    min-width: 180px;
  }
}

@media screen and (max-width: 800px) {
  #catalogMain {
    flex-direction: column;
    padding: 0;
    padding-right: 60px;
  }
}

@media screen and (max-width: 600px) {
  #catalogHeader {
    padding: 80px 20px 120px 20px;
  }
  #catalogHeader h1 {
    font-size: 5.378em;
    bottom: -100px;
    width: 100%;
    text-align: center;
    letter-spacing: -5px;
  }
  .catalogCategory {
    padding: 60px 20px 20px 20px;
  }
  .catalogCategory h2 {
    text-align: center;
  }
  .catalogFilter {
    display: none;
  }
  #catalogMain {
    padding-right: 0;
  }
  .Product-wrapper {
    margin-bottom: 40px;
  }
  .productWrap {
    width: 100%;
    max-width: 100%;
  }
}