@font-face {
  font-family: "Big Caslon";
  font-style: normal;
  font-weight: 500;
  src: local("Big Caslon Medium"), url("./fonts/BCM.woff2") format("woff2"),
    url("./fonts/BCM.woff") format("woff"),
    url("./fonts/BCM.ttf") format("truetype");
}

@font-face {
  font-family: "Erbar AT Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Erbar AT Condensed Light"),
    url("./fonts/ErbarAtCdLtReg.woff2") format("woff2"),
    url("./fonts/ErbarAtCdLtReg.woff") format("woff"),
    url("./fonts/ErbarAtCdLtReg.ttf") format("truetype");
}

:root {
  --col: calc(100vw / 8);
  --white: #fff;
  --black: #000;
  --gold: #84754e;
  --lightWhite: #fffcf5;
}

/* hide default controls for number inputs  */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  line-height: 1.4;
  font-size: 14px;
  overflow: initial;
}

a:hover {
  color: var(--gold);
}

body h5,
body h6,
body input,
body * {
  font-family: "Erbar AT Condensed", Helvetica, Arial, sans-serif;
}

body h1,
body h2 {
  font-family: "Big Caslon", Helvetica, Arial, sans-serif;
  line-height: initial;
}

.noscroll {
  overflow: hidden;
}

button {
  outline-color: transparent;
}

.fatCopy {
  font-weight: 900;
}

#indexHeader {
  height: 100vh;
  position: relative;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 10%,
    rgba(0, 0, 0, 0) 100%
  );
}

#indexHeader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header__title {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding-bottom: 9.2vh;
}

.header__title h1 {
  font-size: 10.541em;
  color: var(--white);
  font-weight: 900;
  margin-bottom: 0;
  line-height: 0.8;
  text-transform: uppercase;
  position: relative;
}

.header__title h1 span {
  font-family: "Big Caslon", Helvetica, Arial, sans-serif;
  display: block;
  margin-bottom: 30px;
}

.header__title > div:first-of-type {
  border-top: 0.45rem solid var(--gold);
  padding-top: 40px;
}

.header__title p {
  color: var(--gold);
  margin-bottom: 80px;
  padding-top: 20px;
  border-top: 0.45rem solid var(--gold);
  letter-spacing: 0.45em;
  line-height: 1;
  font-weight: 300;
  font-size: 3.842em;
  text-align: center;
  text-transform: uppercase;
}

.header__title button,
.header__title a {
  background-color: var(--gold);
  border: none;
  padding: 20px 35px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.714em;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.2s ease-out;
  display: inline-block;
  color: hsla(0, 0%, 0%, 0.8);
  text-decoration: none;
}

.header__title a.gremlinz_link {
  margin-left: 10px;
}

.essentials_featured_button_wrap a {
  background-color: var(--gold);
  border: none;
  padding: 20px 35px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.714em;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.2s ease-out;
  display: inline-block;
  color: hsla(0, 0%, 0%, 0.8);
  text-decoration: none;
}

.header__title button::before,
.header__title a::before {
  content: "";
  background-color: #f2cd5e1a;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.1s ease;
}

.header__title button > span,
.header__title a > span {
  position: relative;
  margin-left: 40px;
  bottom: 2px;
}

.header__title button:hover,
.header__title a:hover {
  transform: translateY(-4px);
  color: var(--lightWhite);
}

.header__title button:hover::before,
.header__title a:hover::before {
  transform: translate3d(-10px, -10px, 0);
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.background::before {
  content: "";
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(./windowVect.png);
  background-size: cover;
  z-index: 1;
}
/* 800 px */
.background__slidingContent {
  height: 100%;
  background-image: url(./slide1.jpeg);
  background-size: cover;
  z-index: 0;
  width: 100%;
  position: fixed;
  /* animation: slide 10s linear infinite forwards; */
  animation: slide 25s linear infinite forwards;
  opacity: 0;
  filter: grayscale(75%);
}

.featured {
  position: absolute;
  bottom: -5px;
  right: 80px;
  display: none;
}

.featured > span {
  color: white;
  background-color: black;
  padding: 20px 35px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.714em;
  letter-spacing: 2px;
  transition: all 0.2s ease-out;
  position: absolute;
  top: -25px;
  right: 0;
}

.featured a {
  margin-bottom: 5px;
  color: hsla(0, 0%, 0%, 0.8);
  background-color: var(--gold);
  text-decoration: none;
  padding: 20px 35px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.714em;
  letter-spacing: 2px;
  transition: all 0.2s ease-out;
}

.featured a > span {
  position: relative;
  margin-left: 40px;
  bottom: 2px;
}

.featured img {
  width: 240px;
  margin: 0;
}

/* below is main ----------------------------------------------------------------------------=-=---- */

main {
  background: white;
}

#essentials {
  display: flex;
  padding: 160px var(--col);
}

/* .essentials__item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.essentials__detials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.essentials__detials p {
  margin-bottom: 0;
  margin-top: 20px;
}

.essentials__photo img {
  width: 200px;
  margin: 0;
}

.essentials__item.intro {
  max-width: 30%;
  width: 30%;
  min-height: 260px;
  display: flex;
}

.essentials__item_featured {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.essentials_featured_background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Hoodie_front.jpg");
  background-position-y: 20%;
  background-position-x: center;
  background-size: 100%;
}

.essentials_featured_button_wrap {
  background-color: rgba(25, 25, 25, 0.4);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.essentials_featured_button_wrap > button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 2.25rem;
}

.essentials__item.intro,
.culture__info,
.designer__info {
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: #FFFFD4; */
  background-color: black;
  padding: 40px;
  margin-right: 80px;
}

.essentials__item.intro em,
.culture__info em,
.designer__info em {
  position: absolute;
  top: 40px;
  left: 40px;
  color: var(--gold);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.35em;
  font-size: 0.714em;
}

.essentials__item.intro h2,
.culture__info h2,
.designer__info h2 {
  font-size: 2.744em;
  color: var(--white);
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.essentials__item.intro button,
.culture__info button,
.designer__info button,
.essentials__item.intro a,
.culture__info a,
.designer__info a {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--gold);
  border: none;
  padding: 20px 35px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.714em;
  letter-spacing: 2px;
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.8);
  transition: all 0.2s ease-out;
}

.essentials__item.intro button > span,
.essentials__item.intro a > span {
  position: relative;
  margin-left: 40px;
  bottom: 2px;
}

.essentials__item.intro button:hover,
.culture__info button:hover,
.designer__info button:hover,
.essentials__item.intro a:hover,
.culture__info a:hover,
.designer__info a:hover {
  color: var(--lightWhite);
}

/* culture section ----------------------------------------------------------------------------- */

#culture {
  padding: 160px var(--col);
  background-color: #fafafa;
}

#culture > div {
  display: flex;
  position: relative;
}

p.culture__more {
  font-size: 1.4em;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  margin-top: 40px;
  background-color: #fafafa;
}

.culture__more a {
  color: #84754e;
}

.culture__header {
  position: absolute;
  right: 0;
  top: -60px;
  font-size: 2.744em;
  z-index: 1;
  letter-spacing: 2px;
  font-weight: 900;
  color: black;
}

#culture img {
  margin-bottom: 40px;
}

/* #culture .culture__right img:last-of-type {
  clip-path: inset(0 0 140px);
  margin-bottom: 0;
} */

.culture__left,
.culture__right {
  max-width: 50%;
}

.culture__left {
  margin-right: 20px;
}

.culture__right {
  margin-left: 20px;
}

.culture__info {
  margin-right: 0;
  margin-bottom: 40px;
  max-width: none;
  min-height: 38vh;
  display: flex;
}

.culture__info button > span,
.designer__info button > span,
.culture__info a > span,
.designer__info a > span {
  position: relative;
  margin-left: 40px;
  bottom: 2px;
}

/* designer info section ------------------------------------------------------------------------ */

#designer {
  padding: 160px 12.5vw;
  display: flex;
}

#designer img {
  margin: 0;
  filter: grayscale(62%);
}

.designer__info {
  margin-right: 0;
  margin-left: 40px;
  display: flex;
  min-height: none;
  max-width: 38%;
}

/* caller section ------------------------------------------------------------------------------- */

#caller {
  background-color: var(--gold);
  display: flex;
  padding: 60px var(--col);
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
}

#caller > div {
  max-width: 38%;
  width: 38%;
}

#caller h2 {
  margin: 0;
  font-size: 2.744em;
  font-weight: 900;
  letter-spacing: -1px;
  /* color: #FFF6F6; */
  color: black;
}

#caller button {
  background-color: black;
  border: none;
  padding: 20px 35px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.714em;
  letter-spacing: 2px;
  transition: all 0.2s ease-out;
  color: #fff6f6;
}

#caller input {
  padding: 15px 35px;
  border: 4px solid hsla(0, 0%, 0%, 0.8);
  margin-right: 20px;
}

#catalog_caller {
  background-color: var(--gold);
  display: flex;
  padding: 40px 12.5vw;
  justify-content: center;
  align-items: center;
}

#catalog_caller > div {
  min-width: 38%;
  text-align: center;
}

#catalog_caller a {
  background-color: black;
  border: none;
  padding: 20px 35px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.714em;
  letter-spacing: 2px;
  transition: all 0.2s ease-out;
  color: var(--lightWhite);
}

#catalog_caller a > span {
  position: relative;
  margin-left: 40px;
  bottom: 2px;
}

#catalog_caller h2 {
  margin: 0;
  font-size: 2.744em;
  font-weight: 900;
  letter-spacing: -1px;
  color: black;
}

#caller form {
  margin: 0;
}

.signupWrap {
  display: flex;
}

.clear input {
  background-color: rgb(25, 25, 25);
  color: white;
  cursor: pointer;
  background-color: #000;
  border: none;
  padding: 20px 35px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.714em;
  letter-spacing: 2px;
  transition: all 0.2s ease-out;
  color: #fff6f6;
}

.mc-field-group {
  flex-grow: 1;
  padding-right: 10px;
}

.mc-field-group input {
  width: 100%;
  background-color: var(--lightWhite);
}

.productCaller {
  display: flex;
  position: relative;
  padding-right: 80px;
  height: 400px;
  margin-top: 160px;
}

.productCaller > a {
  flex-grow: 1;
  position: relative;
  width: 50%;
}

.productCaller > a:nth-child(1) {
  margin-right: 20px;
  margin-left: 40px;
}

.productCaller > a:nth-child(2) {
  margin-left: 20px;
  margin-right: 40px;
}

.productCaller__title {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.productCaller__title button {
  background-color: var(--gold);
  border: none;
  padding: 20px 35px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.714em;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.2s ease-out;
  display: inline-block;
  color: hsla(0, 0%, 0%, 0.8);
  text-decoration: none;
  transition: all 0.4s ease;
}

.productCaller__title button > span {
  position: relative;
  margin-left: 40px;
  bottom: 2px;
}

.productCaller__back {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transition: all 0.2s ease;
}

.productCaller > a:hover .productCaller__back {
  opacity: 0.4;
}

.productCaller > a:hover button {
  color: var(--gold);
  background-color: black;
}

.productCaller > a:hover h3 {
  color: var(--gold);
}

.productCaller__title h3 {
  font-size: 5.378em;
  color: #fff;
  font-weight: 900;
  letter-spacing: -1px;
  font-family: "Big Caslon", Helvetica, Arial, sans-serif;
  line-height: initial;
  transition: all 0.1s ease;
}

.productCaller a:nth-of-type(1) .productCaller__back {
  background-image: url("../assets/hat1-comp.jpg");
}

.productCaller a:nth-of-type(2) .productCaller__back {
  background-image: url("../assets/loopHat.jpg");
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    /* transform: translate3d(-100%, 0, 0); */
    transform: translate3d(-40%, 0, 0);
    opacity: 0;
  }
}

@media screen and (max-width: 1366px) {
  /*Header*/
  .sideBar {
    width: 60px;
  }
  .cart {
    right: 60px;
  }
  .sideBar__btn button {
    padding: 10px;
  }
  /* main */
  body {
    font-size: 13px;
  }
  .header__title h1 {
    font-size: 7.53em;
  }
  .header__title p {
    margin-bottom: 60px;
    font-size: 2.744em;
  }
  .topBar__logo img {
    width: 80px;
  }
  .featured {
    right: 60px;
  }
  .featured img {
    width: 160px;
  }
  .essentials__photo img {
    width: 160px;
  }
  .essentials__item.intro {
    margin-right: 60px;
    max-width: 38%;
    width: 38%;
  }
  .essentials__item.intro h2,
  .culture__info h2,
  .designer__info h2,
  #catalog_caller h2,
  #caller h2 {
    font-size: 1.96em;
    letter-spacing: -1px;
  }
  #essentials,
  #catalog_caller,
  #designer,
  #culture,
  #caller {
    padding-left: calc(var(--col) / 2);
    padding-right: calc(var(--col) / 2 + 60px);
  }
  #caller {
    flex-direction: column;
  }
  #caller h2 {
    margin-bottom: 20px;
  }
  #caller > div {
    max-width: none;
    width: 100%;
    text-align: center;
  }
  .signupWrap {
    justify-content: center;
    align-items: center;
  }
  .mc-field-group {
    flex-grow: initial;
    width: 38%;
  }
  .productCaller {
    padding-right: 60px;
  }
}

/* @media screen and (max-width: 1000px) {
  .header__title {
    padding-top: 38vh;
  }
} */

@media screen and (max-width: 800px) {
  .header__title {
    padding-right: 60px;
  }
  .header__title h1 {
    /* font-size: 10.541em; */
  }
  #indexHeader {
    height: 75vh;
  }
  .background::before {
    background-position: center;
  }
  .essentials__item:last-of-type {
    display: none;
  }
  #catalog_caller {
    padding: 0 60px 0 0;
  }
  #catalog_caller > div:first-of-type {
    margin: 40px 0;
  }
  #essentials {
    padding-left: 0;
    padding-right: 60px;
  }
  .essentials__item.intro {
    margin-right: 20px;
  }
  #designer {
    flex-direction: column;
    padding: 0;
  }
  #designer img {
    width: auto;
    height: 100%;
  }
  .designer__info {
    max-width: none;
    margin-left: 0;
    margin-right: 60px;
  }
  .designer__info h2 {
    margin: 60px 0;
  }
  #culture {
    padding: 160px 0;
  }
  .culture__header {
    right: initial;
    left: 10px;
  }
  p.culture__more {
    text-align: center;
  }
  .footer__location span {
    margin-right: 0;
    margin-left: 10px;
  }
  .footer__quote h4 {
    transform: rotate(-90deg);
  }
  .footer__links {
    flex-direction: column;
    text-align: right;
    padding: 80px;
  }
  .footer__links ul {
    margin-top: 40px;
  }
  .footer__links li {
    margin-right: 20px;
  }
  .productCaller {
    flex-direction: column;
    height: 1000px;
    margin-top: 0;
  }
  .productCaller > a:nth-child(1),
  .productCaller > a:nth-child(2) {
    width: 100%;
    margin: 0;
  }
  #caller {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .cart {
    top: 60px;
    right: 0;
    height: calc(100% - 60px);
  }
  .sideBar__cart {
    top: 0;
    right: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sideBar__cart svg {
    width: 20px;
  }
  .sideBar__cart button {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .sideBar__cart button span {
    margin-right: 10px;
    margin-top: 0;
  }
  .sideBar__btn button > span {
    width: 35px;
    height: 3px;
  }
  .sideBar {
    height: 60px;
    width: 100%;
  }
  .sideBar ul {
    display: none;
  }
  .sideBar__btn {
    width: initial;
    margin-top: 10px;
  }
  .topBar__logo {
    z-index: 16;
    position: fixed;
    top: 0;
    left: 0;
    /* padding: 20px */
    padding: 10px 10px 0 10px;
    height: 60px;
  }
  .topBar__logo img {
    width: 40px;
  }
  .topBar > ul {
    display: none;
  }
  .featured {
    display: none;
  }
  .header__title {
    padding-right: 0;
    padding-bottom: 12.5vh;
  }
  .header__title h1 {
    font-size: 5.378em;
  }
  .header__title p {
    margin-bottom: 40px;
    font-size: 1.96em;
    border-top: 0.35rem solid #84754e;
    padding-top: 0.2em;
  }
  .header__title > div:first-of-type {
    padding-top: 1.25rem;
    border-top: 0.35rem solid #84754e;
  }
  .header__title h1 span {
    margin-bottom: 0.2em;
  }
  .footer__links {
    padding: 80px 20px;
  }
  .essentials__item {
    display: inline-flex;
    width: 50%;
  }
  .essentials__item.intro {
    width: 100%;
    max-width: none;
    display: block;
    margin-bottom: 60px;
  }
  .essentials__item.intro h2 {
    margin: 40px 0;
  }
  #essentials {
    padding: 0 0 60px 0;
    display: block;
  }
  #caller {
    padding-left: calc(var(--col) / 2);
    padding-right: calc(var(--col) / 2);
  }
  #catalog_caller {
    flex-direction: column;
    padding: 20px;
  }
  #catalog_caller > div {
    margin-bottom: 40px;
  }
  #designer img {
    width: 100%;
    height: initial;
  }
  .designer__info {
    margin-right: 0;
    margin-top: -10px;
  }
  .productCaller {
    padding-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .menu > div {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
  }

  .menu ul {
    margin: 0;
    width: 100%;
  }
  .menu ul:last-of-type {
    margin-top: 60px;
    background: black;
  }
  .menu ul li {
    margin: 20px;
  }
  .menu ul:last-of-type a {
    color: var(--gold);
  }
  #indexHeader {
    height: 90vh;
  }
  .header__title h1 {
    font-size: 4.3em;
  }
  .header__title p {
    margin-bottom: 40px;
    font-size: 1.6em;
  }
  #culture {
    padding-bottom: 0;
  }
  #culture > div {
    flex-direction: column;
  }
  #culture img {
    margin-bottom: -10px;
  }
  .culture__info {
    margin-bottom: 0;
  }
  .culture__header {
    top: -100px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.96em;
  }
  .culture__left,
  .culture__right {
    max-width: none;
    width: 100%;
    margin: 0;
  }
  p.culture__more {
    padding-bottom: 40px;
  }
  .signupWrap {
    flex-direction: column;
  }
  #caller input {
    margin: 0 0 10px 0;
    width: 100%;
  }
  #caller button {
    width: 100%;
  }
  .footer__location a {
    font-size: 1em;
  }
  .mc-field-group {
    padding-right: 0;
    width: 100%;
  }
  .clear {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  #indexHeader {
    height: 100vh;
  }
  .productCaller__title h3 {
    font-size: 3.842em;
  }
}

@media screen and (max-width: 360px) {
  .header__title p {
    /* margin-bottom: 20px; */
    font-size: 1.4em;
  }
  .header__title h1 {
    font-size: 3.842em;
  }
  .essentials__item.intro h2,
  .culture__info h2,
  .designer__info h2,
  #catalog_caller h2,
  #caller h2 {
    font-size: 1.4em;
    letter-spacing: 0;
  }
  .culture__info h2 {
    margin: 50px 0;
  }
}
